html{
    background-color: blanchedalmond;
    margin-top: 60px;
}

body{
    background-color: blanchedalmond;
}

#producttable{
    margin-top: 80px;
    margin-bottom: 40px;
    position: center;
    margin-left: 10%;
    margin-right: 10%;
}
#producttafel{
    width: 100%;
    border: none;
}

.odd{
    background-color: blanchedalmond;
}
h1{
    font-family: Impact, monospace;
    font-size: 14pt;
    color: blanchedalmond;
    background-color: goldenrod;
    width: 100%;
    text-align: center;

}

#details{
    margin-top: 40px;
}

#details p{
    font-family: monospace;
    font-size: 12pt;
    color: goldenrod;
    text-align: center;
}

footer{
    text-align: center;
    width: 100%;
    height: 20pt;
    padding: 6pt;
    text-decoration: none;
    font-size: 8pt;
    font-family: monospace;
    background-color: #3e8e41;
    color: ghostwhite;
    bottom: 0;
    margin-top: 20pt;
}

/*ORDER EN CONFIRM ORDER*/
.thanks{
    font-size: 300%;
    text-align: center;
}

.orderbutton{
    text-decoration: none;
    color: black;
}

.orderbutton:hover{
    text-decoration: none;
}

/*ABOUT*/
#about{
    margin-top: 40px;
    text-align: center;
}

#tim #jeffrey #TG{
    font-family: monospace;
    font-size: 10pt;
}

#timjeffrey{
    margin-bottom: 40px;
}

#jimteffrey{
    margin-bottom: 40px;
}

#columnRight{
    text-align: center;
    margin-top: 40px
}

.row{
    text-align: center;
    text-decoration: none;
}

