<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" th:href="@{css/banner.css}">
    <link href="https://fonts.googleapis.com/css?family=Mountains+of+Christmas" rel="stylesheet">
</head>
<body>
    <div th:fragment="banner" class="banner">
            <div>
                <img src="images/kerstmis.png" height="50px">
                <p id="xmas">X-MAS SALE! 50% OFF! ORDER NOW!!!</p>
            </div>
    </div>

</body>
</html>