<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" th:href="@{css/menu.css}">
</head>
<body>

<nav th:fragment="navigation" class="navbar">
            <a th:href="@{~/index}" id="logo"><img th:src="@{images/logo1.png}" width="120px"></a>
            <a th:href="@{~/about}">About</a>

    <div class="dropdown">
        <button class="dropbtn">Category</button>
        <div class="dropdown-content">
            <a th:href="@{~/category/nutrition}">Nutrition</a>
            <a th:href="@{~/category/toys}">Toys</a>
            <a th:href="@{~/category/habitat}">Habitat</a>
        </div>
    </div>
            <a th:href="@{~/shoppingbasket}"><img th:src="@{~/images/shoppingcart.png}" width="100px"></a>

</nav>




</body>
</html>